html {
	height:100%;
}
ul {
	list-style: none;
	font-size: 15px;
}




.content {
	height: 100%;
}
.canvas{
	height:100%;
}
.banner{

	height: 30%;
	width: 100%;
}
.bannerright {
	height:100%;
}
.bannerleft {
	height:100%;
}
.area2{
	height: 70%;
	width: 100%;
}
.mainimages {

	height:100%;
	border: 3px;
	border-color: black;
	border-style: solid;
	width:100%;
}





#imglogo {
	height:100%;
	border: 3px;
	border-color: black;
	border-style: solid;
	float:right;
}
#imglogononmainpage {	
	height:100%;
	border: 3px;
	border-bottom: 0px;
	border-color: black;
	border-style: solid;
	float:right;
}
#imgstorefront {
	border: 3px;
	border-color: black;
	border-style: solid;
	width: 100%;
}
#maintitle {
  margin-left: auto;
  margin-right: auto;
}
#fillerbanner{
	height: 30%;
}