
html {
	height:100%;
}

img {
	margin:5%;
}

h1{
	
	font-family: Nauman;
	font-size: 50px;
}

p{
	
	font-family: Nauman;
	font-size: 16px;
	padding-left: 3%;
	padding-right: 3%;
}

li{
	
	font-family: Nauman;
	
}

i{
	float:right;
	margin-top: 2%;
	margin-left: 3px;
	color: black;
}

i:hover
{ 
	color:blue;
}

.content {
	border-left: 1px;
	border-right: 1px;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #ddd;
	height: 100%;
}
.canvas{
	height:100%;
}

.navigation ul{
	list-style-type: none;
}

.navigation li {
	float:left;
	font-size: 25px;
}

.nav-text {
	cursor: pointer;
	color: #999;
	margin-left: .5em;
	margin-right: .5em;
}

.title h1 {
	text-align: center;
}


#selected_page {
	color: #111;
	border-bottom-color: #ddd;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#firstname{
	color: darkgreen;
}

@font-face
{
font-family: Nauman;
src: url(../fonts/Nauman_Regular_Regular.otf);
}
